<section class="flex min-h-[75vh] flex-col ">
    <div class="appointment-page px-6">
        <div class="upcomming section">
            <h2>Upcomming Appointments</h2>
            <div class="upcomming-appointments flex">
                <hos-appointment-card routerLink="create"></hos-appointment-card>
            </div>
        </div>
        <div class="all-appointments section">
            <h2>All Appointments</h2>
            <div class="appointment-list">
                <div class="appointment">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of doctor">
                    <div class="appointment__details flex flex-col flex-grow">
                        <p class="doctor font-bold">Dr. Warmington</p>
                        <p class="specialty text-xs text-light-brown">Dentist</p>
                        <p class="date text-xs flex  justify-between font-semibold text-dark-brown"><span>Aug 23, 2022</span> <span>5:00 PM</span></p>
                    </div>
                </div>
                <div class="appointment">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of doctor">
                    <div class="appointment__details flex flex-col flex-grow">
                        <p class="doctor font-bold">Dr. Warmington</p>
                        <p class="specialty text-xs text-light-brown">Dentist</p>
                        <p class="date text-xs flex  justify-between font-semibold text-dark-brown"><span>Aug 23, 2022</span> <span>5:00 PM</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="footer text-gray-400 mt-auto" style="border-top: 1px solid lightgrey">
        <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
    </div>
</section>