<section class="flex min-h-[75vh] flex-col ">
    <div class="appointment-page px-6">
        <div class="upcomming section">
            <h2>Upcomming Appointments</h2>
            <div class="upcomming-appointments flex gap-4">
                <ng-container *ngIf="appointment">
                    <hos-appointment-card [appointment]= "appointment"></hos-appointment-card>
                </ng-container>
                <hos-appointment-card routerLink="create"></hos-appointment-card>
            </div>
        </div>
        <div class="all-appointments section">
            <h2>All Appointments</h2>
            <ng-container  *ngIf="userAppointments.length > 0; else showEmptyAppointment">

                <div class="appointment-list">
                    <div class="appointment" *ngFor="let appointment of userAppointments">
                        <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of doctor">
                        <div class="appointment__details flex flex-col flex-grow">
                            <p class="doctor font-bold">{{appointment.doctor.title+ " "+ appointment.doctor.fname + " "+ appointment.doctor.lname }}</p>
                            <p class="specialty text-xs text-light-brown">{{appointment.doctor.department}}</p>
                            <p class="date text-xs flex  justify-between font-semibold text-dark-brown"><span>{{appointment.visitStart.toDateString().slice(4,11)}}</span> <span>{{appointment.visitStart.toLocaleTimeString("en-US", {timeStyle:"short"})}}</span></p>
                        </div>
                    </div>

                </div>
            </ng-container>
            <ng-template #showEmptyAppointment>
                <div class="no-appointments text-gray-300 flex flex-col items-center gap-2">
                    <i class="fa-solid fa-calendar-xmark text-[6rem]"></i>
                    <p>Nothing Here</p>
                </div>
            </ng-template>
        </div>
    </div> 
    <div class="footer text-gray-400 mt-auto" style="border-top: 1px solid lightgrey">
        <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
    </div>
</section>