<section>
    <div class="login-page">
       <a routerLink="/" class="p-4 text-5xl font-bold text-white">PHJ</a>
        <div class="form-wrapper">
            <form [formGroup]="userLoginForm" (submit)="loginUser()">
                <legend>Login</legend>
                <label>
                    <span>Email</span>
                    <input type="email" name="email" formControlName="email" placeholder="Email" required>
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" name="password" formControlName="password" placeholder="Password" required>
                </label>
                <div class="text-xs text-dark-brown font-bold">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="cta flex">
                    <button class="cta__btn cta__btn--gold flex-grow justify-center">Login</button>
                </div>
                <div class=" text-sm">
                    <p><span class="text-gray-400">Don't have an account? </span> <a class="font-bold text-dark-brown ">Register Now</a></p>
                </div>
            </form>
            <div class="footer shadow-md text-gray-400 ">
                <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>