<section>
    <div class="dashboard-wrapper">
        <div class="service-grid">
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service ">
                <div class="service__icon"><i class="fa-solid fa-calendar-days"></i></div>
                <p class="service__title">Appointments</p>
            </div>
        </div>
    </div>
</section>
