<section>
    <div class="dashboard-wrapper">
        <div class="service-grid">
            <div class="service" routerLink="appointments">
                <div class="service__icon">
                    <img src="/assets/svgs/calendar-svgrepo-com.svg" alt="svg for appointment">
                    
                </div>
                <p class="service__title">Appointments</p>
            </div>
            <div class="service "routerLink="doctors">
                <div class="service__icon">
                    <img src="/assets/svgs/doctor-svgrepo-com.svg" alt="svg for Doctors">
                </div>
                <p class="service__title">Doctors</p>
            </div>
            <div class="service ">
                <div class="service__icon">
                    <img src="/assets/svgs/medical-history-svgrepo-com.svg" alt="svg for Doctors">
                </div>
                <p class="service__title">Medical Records</p>
            </div>
            <div class="service ">
                <div class="service__icon">
                    <img src="/assets/svgs/billing-svgrepo-com.svg" alt="svg for Doctors">
                </div>
                <p class="service__title">Billing Services</p>
            </div>
            <div class="service ">
                <div class="service__icon">
                    <img src="/assets/svgs/stock-svgrepo-com.svg" alt="svg for Doctors">
                </div>
                <p class="service__title">Inventory</p>
            </div>
        </div>
    </div>
</section>
