<section class="home-section">
    <div class="content-wrapper">
        <form class="searchForm">
            <input type="search" #search placeholder="Search..." autocomplete="off">
            <div class="submit-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
        <div class="news-carousel mt-8">
            <div class="news-container" #newsWrapper>
                <div class="news-item"  *ngFor="let news of mainNews" (click)="goToPage(news.url)">
                    <div class="news__details">
                        <p class="font-semibold text-dark-brown text-sm">{{news.title.slice(0,60)}} ...</p>
                        <p class="body text-xs">
                            {{news.description.slice(0,100)}} ...
                        </p>
                        <a class="more text-gold text-[.6rem] font-bold" href="{{news.url}}">Learn More</a>
                    </div>
                    <div class="news__img">
                        <img [src]="news.urlToImage" alt="Image of some news">
                    </div>
                </div>
            </div>
            <div class="news-indicator">
                <span></span>
            </div>
        </div>
        <div class="services section">
            <h2>Our Services</h2>
            <div class="service-cards">
                <div class="service-card cursor-pointer" routerLink="doctors">
                    <i class="fa-solid fa-stethoscope"></i>
                    <p>Doctors</p>
                </div>
                <div class="service-card cursor-pointer" (click)="apologize()">
                    <i class="fa-solid fa-blog"></i>
                    <p>Blog</p>
                </div>
                <div class="service-card cursor-pointer" (click)="apologize()">
                    <i class="fa-solid fa-pills"></i>
                    <p>Medicine</p>
                </div>
            </div>
        </div>

        <div class="appointments section">
            <h2 class="mb-6">Upcomming Appointments</h2>
            <div class="appointments flex gap-4">
                <ng-container *ngIf="upAppointment">
                    <hos-appointment-card class="cursor-pointer" [appointment]="upAppointment" routerLink="appointments/{{upAppointment._id}}" ></hos-appointment-card>
                </ng-container>
                <hos-appointment-card routerLink="appointments/create" class="cursor-pointer"></hos-appointment-card>
            </div>
        </div>
        
    </div>
    <div class="footer text-gray-400 ">
        <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
    </div>
</section>