<section class="admin-section">
    <ul class="nav-section">
        <li class="logo text-4xl font-bold"><a routerLink="/">PHJ</a></li>
        <li class="ml-auto">
            <div routerLink="admin/profile" class="userInfo">
                <span>{{username}}</span>
                <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="image of user">
            </div>
        <li>
        <li class="cursor-pointer" (click)="logoutUser()"><a class="hover:text-mystic"><i class="mr-1 fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>

    </ul>
    <div class="page-wrapper">
        <div class="sidebar-wrapper">
            <ul class="sidebar mt-6">
                <li class="sidebar__item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  class="sidebar__link"><i class="fa-solid fa-house-chimney"></i>Home</a>
                </li>
                <li class="sidebar__item" routerLink="appointments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    false}">
                    <a   class="sidebar__link"><i class="fa-solid fa-calendar-days"></i>Appointments</a>
                </li>
                <li class="sidebar__item" routerLink="doctors" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    false}">
                    <a  class="sidebar__link"><i class="fa-solid fa-user-doctor"></i>Doctors</a>
                </li>
                <li class="sidebar__item" routerLink="patients" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    false}">
                    <a class="sidebar__link"><i class="fa-solid fa-file-medical"></i>Patients</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link"><i class="fa-solid fa-file-medical"></i>Medical Records</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link"><i class="fa-solid fa-money-check-dollar"></i>Billing</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link"><i class="fa-solid fa-sliders"></i>Settings</a>
                </li>

            </ul>
        </div>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
           
        </div>
    </div>
</section>
