@import "../../../styles.scss";

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

section.admin-section{
    display:flex;
    flex-direction:column;
    height: 100vh;
    width: 100vw;

}
.nav-section{
    // height: 20px;
    padding: .5rem 1rem;
    display:flex;
    align-items: center;
    background-color:rgba($dark-brown,1);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.1);
    color:white;
    gap: 1rem;

    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;

    }
    .userInfo{
        display:flex;
        align-items:center;
        gap: .6rem;
    }


}
.page-wrapper{
    flex:1;
    display:flex;

    .sidebar-wrapper{
        width: 250px;
        height: 100%;
        // background-color: white;
        box-shadow: 1px 0px 3px rgba(0,0,0, 0.1);
    }
    .content-wrapper{
        flex: 1;
        // background-color:whitesmoke;
        height: 100%;
        padding: 3rem;
        overflow:scroll;
        overflow-x: hidden;
        
    }
}
.sidebar{  
    border-radius: 1rem;  
    .sidebar__item.active, .sidebar__item:hover{
        border-radius: 0px 2rem 2rem 0;
        background-color: $mystic;
        box-shadow: 0 2px 6px rgba($mystic, 0.2);
        // border-radius: 5px;
    }
    .sidebar__link{
        display:inline-flex;
        width: 100%;
        // background-color:red;
        padding: 10px;
        gap: 5px;
        align-items: center;
        color: $dark-brown;

        i{
            font-size: 1.3rem;
            width: 30px;
        }
    }
    .sidebar__item{
        border-radius: 0px 2rem 2rem 0;
        cursor: pointer;
        transition: 200ms background-color ease;
        // border-radius: 1rem;
    }
}