<div class="mobile-view">
    <nav class="nav-wrapper">
        <ul [class]="{'nav': true, 'active': navOpened}" role="navigation">
            <li>
                <div [class]="{'top-nav': true, 'active': navOpened}">
                    <div class="navToggle" (click)="toggleNav()">
                        <i class="fa-solid fa-bars text-5xl text-white" *ngIf="!navOpened;else close"></i>
                        <ng-template #close>
                            <i class="fa-solid fa-xmark text-5xl text-white" #close></i>
                        </ng-template>
                    </div>
                    <div [class]="{'userInfo': true, 'active': navOpened}">
                        <img src="/assets/toddler-white-shirt-curly-hair.jpg" alt="profile image" routerLink="profile">

                       <div class="text-center" *ngIf="navOpened">
                        <p class="name text-lg font-bold text-white">{{user.fname+" "+user.lname}}</p>
                        <p class="email text-light-brown font-bold">{{user.email}}</p>
                       </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-nav mt-10">
                    <a routerLink="/user/" (click)="toggleNav()">
                        <i class="fa-solid fa-home"></i>
                        <span>Home</span>
                    </a>
                    <a routerLink="profile"  (click)="toggleNav()">
                        <i class="fa-solid fa-user"></i>
                        <span>Profile</span>
                    </a>
                    <a routerLink="appointments"  (click)="toggleNav()">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Appointments</span>
                    </a>
                    <a routerLink="doctors"  (click)="toggleNav()">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span>Doctors</span>
                    </a>
                    <a (click)="apologize()">
                        <i class="fa-solid fa-blog"></i>
                        <span>Blog</span>
                    </a>
                    <a (click)="logoutUser()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
            <li *ngIf="!navOpened">
                <p class="text-center text-light-brown text-sm">Welcome Back</p>
                <p class="text-center font-bold text-white text-xl" *ngIf="user">{{user.fname+" "+user.lname}}</p>
            </li>
        </ul>
    </nav>
    <div class="overlay" *ngIf="navOpened"></div>
    <div class="user-container">

        <router-outlet></router-outlet>
    </div>
</div>
