<div class="footer-container bg-dark-brown">
    <div class="content-fix">
        <div class="footer-grid">
            <ul class="footer-list">
                <li class="main">Services</li>
                <li><a href="#">Cardiology</a></li>
                <li><a href="#">Pulmonology</a></li>
                <li><a href="#">Dentistry</a></li>
                <li><a href="#">Consultation</a></li>
                <li><a href="#">Radiology</a></li>
                <li><a href="#">Surgery</a></li>
            </ul>
            <ul class="footer-list">
                <li class="main">Help & Support</li>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Medi-Care</a></li>
            </ul>
            <ul class="footer-list">
                <li class="main">Company</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>

            </ul>
            <div class="newsletter">
                <h3 class="text-3xl font-bold text-gold text-center">Newsletter</h3>
                <p class="text-gray-300 text-sm text-center ">Join our newsletter and become a part of our community.</p>
                <form class="mt-8" (submit)="submitNewsletter()">
                    <div class="input-wrapper">
                        <input type="email" placeholder="Email address">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="lower-footer">
        <div class="content-fix">
            <p>Created by VaineStudios. Copyright &copy; {{ year }}. All rights reserved.</p>
        </div>
    </div>
</div>