<section>
    <div class="section-wrapper h-screen w-screen ">
        <div class="login-form-wrapper">
            <div class="p-8">
                <button class="text-dark-brown text-lg font-semibold"><i class="fa-solid fa-arrow-left"></i> Back</button>
            </div>

            <form [formGroup]="adminLoginForm" (submit)="loginUser()">
                <legend>Login</legend>
                <div class="errors">
                    <p class="text-red-600 text-sm py-3">{{serverError}}</p>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                    <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="email">
                    <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email Address</label>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                    <input type="password" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="password">
                    <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                </div>
                <div class="cta">
                    <button class="cta__btn cta__btn--mystic">Login</button>
                </div>
            </form>
            <div class="page-footer bg-white text-xs text-light-brown p-4 text-center">
                <p>Created by VaineStudios</p>
            </div>
        </div>
        <div class="img-wrapper">
            <img src="/assets/mother-two-her-sons-have-appointment-with-pediatrician.jpg" alt="Image of Doctor and praent">
        </div>
    </div>
</section>
