<section>
    <div class="hero">
        <div class="content-fix">
            <div class="intro grid grid-cols-2 h-3/4 mt-24">
                <div class="intro-text text-light-brown w-11/12 ">
                    <h1 class="text-5xl font-bold leading-12">Let us show you how we care.</h1>
                    <p class="mt-4 leading-8 font-thin text-lg">Our center is not just geared towards creating a clean and hospitable environment for the future generation, but alse to ensure that both you and your child has the best experience.</p>
                    <div class="cta mt-6">
                        <button class="cta__btn cta__btn--mystic">
                            Learn More
                        </button>
                    </div>
                </div>
                <div class="image h-[50vh]">
                    <div class="bg-circle h-[50vh] w-[50vh] bg-gold rounded-full"></div>
                    <img src="/assets/doc no bg.png" alt="Doctor" class="h-full">
                </div>
            </div>
            <div class="booking-wrapper">
                <form class="booking__form">
                    <label>
                        <select class="" name="specialty">
                            <option value="test1">Speciality 1</option>
                            <option value="test2">Speciality 2</option>
                            <option value="test3">Speciality 3</option>
                        </select>
                        <span>Specialty</span>
                    </label>
                    <label>
                        <select class="" name="doctor">
                            <option value="test1">Doctor 1</option>
                            <option value="test2">Doctor 2</option>
                            <option value="test3">Doctor 3</option>
                        </select>
                        <span>Pediatrician</span>
                    </label>
                    <label>
                        <input type="date" name="date">
                        <span>Date</span>
                    </label>
                    <label>
                        <input type="text" name="time" placeholder="8AM - 12PM">
                        <span>Time</span>
                    </label>
                    <div class="cta">
                        <button class="cta__btn cta__btn--mystic">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="learn-more">
        <div class="content-fix-custom">
            <div class="circle h-[80vh] w-[80vh] bg-gold rounded-full">
                <div class="text-dark-brown w-3/4">
                 <h2 class="">At the PHJ we provide the best medical care for your child.</h2>
     
                 <p class="mt-4 text-lg font-thin ">With our experienced doctors and  nurses,  you can feel comfort in leaving your child in our care, knowing that you child will be in the best of care. </p>
                </div>
             </div>
             <img src="/assets/mother-two-her-sons-have-appointment-with-pediatrician.jpg" alt="Doctor tending to children">
        </div>
    </div>
    <div class="services mt-20">
        <div class="content-fix">
            <h2 class="text-dark-brown text-4xl font-bold my-8 text-center"> Services we offer.</h2>
            <div class="services-grid">
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-heart-pulse"></i></p>
                    <p class="service__name">
                        Cardiology
                    </p>
                    <div class="service__body">
                        Our top of the line instruments enure that our procedures are almost guaranteed to be successful.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-tooth"></i></p>
                    <p class="service__name">
                        Dentistry
                    </p>
                    <div class="service__body">
                        Let us help you keep your child's smile on their face. Their smile is our top priority.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-hospital"></i></p>
                    <p class="service__name">
                        Consultation
                    </p>
                    <div class="service__body">
                        Our offices are open 24/7, so we will be ready and waiting to be of assitance to your child.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-radiation"></i></p>
                    <p class="service__name">
                        Radiology
                    </p>
                    <div class="service__body">
                        Our facility offers radiology which helps find defects in the systems easier and more quickly 
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-stethoscope"></i></p>
                    <p class="service__name">
                        Surgery
                    </p>
                    <div class="service__body">
                        We are fully equipped and prepare to deal with any and all emergencies you may encounter
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-lungs"></i></p>
                    <p class="service__name">
                        Pulmonology
                    </p>
                    <div class="service__body">
                        We provide assistance with treating various respiratory diseases and infections
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <h2 class="text-4xl font-bold text-dark-brown text-center">Whats new in medicine.</h2>
    </div>
</section>