<section>
    <div class="hero">
        <div class="content-fix">
            <div class="intro grid grid-cols-2 h-3/4 mt-24">
                <div class="intro-text text-light-brown w-11/12 ">
                    <h1 class="text-5xl font-bold leading-12">Let us show you how we care.</h1>
                    <p class="mt-4 leading-8 font-thin text-lg">Our center is not just geared towards creating a clean and hospitable environment for the future generation, but alse to ensure that both you and your child has the best experience.</p>
                    <div class="cta mt-6">
                        <button class="cta__btn cta__btn--mystic">
                            Learn More
                        </button>
                    </div>
                </div>
                <div class="image h-[50vh]">
                    <div class="bg-circle h-[50vh] w-[50vh] bg-gold rounded-full"></div>
                    <img src="/assets/doc no bg.png" alt="Doctor" class="h-full">
                </div>
            </div>
            <div class="booking-wrapper">
                <form class="booking__form">
                    <label>
                        <select class="" name="specialty">
                            <option value="test1">Speciality 1</option>
                            <option value="test2">Speciality 2</option>
                            <option value="test3">Speciality 3</option>
                        </select>
                        <span>Specialty</span>
                    </label>
                    <label>
                        <select class="" name="doctor">
                            <option value="test1">Doctor 1</option>
                            <option value="test2">Doctor 2</option>
                            <option value="test3">Doctor 3</option>
                        </select>
                        <span>Pediatrician</span>
                    </label>
                    <label>
                        <input type="date" name="date">
                        <span>Date</span>
                    </label>
                    <label>
                        <input type="text" name="time" placeholder="8AM - 12PM">
                        <span>Time</span>
                    </label>
                    <div class="cta">
                        <button class="cta__btn cta__btn--mystic">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="learn-more">
        <div class="content-fix-custom">
            <div class="circle h-[80vh] w-[80vh] bg-gold rounded-full">
                <div class="text-dark-brown w-3/4">
                 <h2 class="">At the PHJ we provide the best medical care for your child.</h2>
     
                 <p class="mt-4 text-lg font-thin ">With our experienced doctors and  nurses,  you can feel comfort in leaving your child in our care, knowing that you child will be in the best of care. </p>
                </div>
             </div>
             <img src="/assets/mother-two-her-sons-have-appointment-with-pediatrician.jpg" alt="Doctor tending to children">
        </div>
    </div>
    <div class="services mt-20">
        <div class="content-fix">
            <h2 class="text-dark-brown text-4xl font-bold my-8 text-center"> Services we offer.</h2>
            <div class="services-grid">
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-heart-pulse"></i></p>
                    <p class="service__name">
                        Cardiology
                    </p>
                    <div class="service__body">
                        Our top of the line instruments enure that our procedures are almost guaranteed to be successful.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-tooth"></i></p>
                    <p class="service__name">
                        Dentistry
                    </p>
                    <div class="service__body">
                        Let us help you keep your child's smile on their face. Their smile is our top priority.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-hospital"></i></p>
                    <p class="service__name">
                        Consultation
                    </p>
                    <div class="service__body">
                        Our offices are open 24/7, so we will be ready and waiting to be of assitance to your child.
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-radiation"></i></p>
                    <p class="service__name">
                        Radiology
                    </p>
                    <div class="service__body">
                        Our facility offers radiology which helps find defects in the systems easier and more quickly 
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-stethoscope"></i></p>
                    <p class="service__name">
                        Surgery
                    </p>
                    <div class="service__body">
                        We are fully equipped and prepare to deal with any and all emergencies you may encounter
                    </div>
                </div>
                <div class="service">
                    <p class="service__icon"><i class="fa-solid fa-lungs"></i></p>
                    <p class="service__name">
                        Pulmonology
                    </p>
                    <div class="service__body">
                        We provide assistance with treating various respiratory diseases and infections
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="content-fix">
            <h2 class="text-4xl font-bold text-dark-brown text-center">What is new in Medicine.</h2>

        <div class="news-grid">
            <div class="news__main">
                <div class="img-wrapper">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of news headline">
                    <div class="headline">
                        <p>"Covid 19 Back again in the streets of Kingston"</p>
                    </div>
                </div>
                <div class="options mt-3 text-xs text-dull-grey flex justify-between items-center">
                    <p>Aug 24, 2022</p>
                    <div class="flex text-2xl text-gold gap-2">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <i class="fa-solid fa-share-nodes"></i>
                        <i class="fa-solid fa-comment"></i>
                    </div>
                </div>
            </div>
            <div class="news__sub">
                <div class="sub">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of news headline">
                    <div class="info flex flex-col">
                        <p class="text-lg font-semibold">
                           "Patients refusing medical care and the Mt. Peaks Hospital" 
                        </p>
                        <div class="flex justify-between items-center mt-auto">
                            <span class="date text-xs">
                                Aug 22, 2022
                            </span>
                            <div class="flex text-lg text-gold gap-2">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                                <i class="fa-solid fa-comment"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of news headline">
                    <div class="info flex flex-col">
                        <p class="text-lg font-semibold">
                           "Monkey Pox case found near village in St. Thomas" 
                        </p>
                        <div class="flex justify-between items-center mt-auto">
                            <span class="date text-xs">
                                Aug 22, 2022
                            </span>
                            <div class="flex text-lg text-gold gap-2">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                                <i class="fa-solid fa-comment"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="Image of news headline">
                    <div class="info flex flex-col">
                        <p class="text-lg font-semibold">
                           "News of the century, breakthrough in medicine" 
                        </p>
                        <div class="flex justify-between items-center mt-auto">
                            <span class="date text-xs">
                                Aug 22, 2022
                            </span>
                            <div class="flex text-lg text-gold gap-2">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                                <i class="fa-solid fa-comment"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
    <div class="statistics bg-gold my-16">
        <div class="content-fix">
            <div class="flex py-20 justify-between">
                <div class="stat flex flex-col items-center">
                    <p class="total text-dark-brown text-6xl font-bold">300+</p>
                    <p>Daily Patients</p>
                </div>
                <div class="stat flex flex-col items-center">
                    <p class="total text-dark-brown text-6xl font-bold">1300</p>
                    <p>Patient Capacity</p>
                </div>
                <div class="stat flex flex-col items-center">
                    <p class="total text-dark-brown text-6xl font-bold">150+</p>
                    <p>Experienced Doctors</p>
                </div>
                <div class="stat flex flex-col items-center">
                    <p class="total text-dark-brown text-6xl font-bold">18+</p>
                    <p>Years of Experience</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tesimonial">
        <h2 class="text-dark-brown text-4xl font-bold text-center"> What Do our children say?</h2>
        <div class="content-fix">
            <div class="testimonial-container">
                <div class="container-img"></div>
                <div class="testimony w-1/2 m-auto">
                    <div class="testimony__img m-auto">
                        <img src="/assets/toddler-white-shirt-curly-hair.jpg" alt="baby image">
                    </div>
                    <div class="testimony__data mt-4">
                        <p class="text-light-brown text-xl text-center">Little Tommy says,</p>
                        <p class="text-dark-brown font-bold text-2xl text-center">"This is the bestest place I've ever been. I even got a free lolipop."</p>
                        <p class="relative z-[3] mt-4 flex justify-center">
                            <svg width="150" height="30" viewBox="0 0 150 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="150" height="30" fill="white"/>
                                <path d="M15 0L18.3677 10.3647H29.2658L20.4491 16.7705L23.8168 27.1353L15 20.7295L6.18322 27.1353L9.55093 16.7705L0.734152 10.3647H11.6323L15 0Z" fill="#FDBF6E"/>
                                <path d="M45 0L48.3677 10.3647H59.2658L50.4491 16.7705L53.8168 27.1353L45 20.7295L36.1832 27.1353L39.5509 16.7705L30.7342 10.3647H41.6323L45 0Z" fill="#FDBF6E"/>
                                <path d="M75 0L78.3677 10.3647H89.2658L80.4491 16.7705L83.8168 27.1353L75 20.7295L66.1832 27.1353L69.5509 16.7705L60.7342 10.3647H71.6323L75 0Z" fill="#FDBF6E"/>
                                <path d="M105 0L108.368 10.3647H119.266L110.449 16.7705L113.817 27.1353L105 20.7295L96.1832 27.1353L99.5509 16.7705L90.7342 10.3647H101.632L105 0Z" fill="#FDBF6E"/>
                                <path d="M135 1.61804L137.892 10.5193L138.004 10.8647H138.368H147.727L140.155 16.366L139.861 16.5795L139.974 16.925L142.866 25.8262L135.294 20.325L135 20.1115L134.706 20.325L127.134 25.8262L130.026 16.925L130.139 16.5795L129.845 16.366L122.273 10.8647H131.632H131.996L132.108 10.5193L135 1.61804Z" stroke="#FDBF6E"/>
                                </svg>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>