<section class="flex flex-col h-screen mobile-view">
    <div class="cta p-6 email-dark-brown font-bold text-lg text-dark-brown" (click)="goBack()">
        <span><i class="fa fa-solid fa-arrow-left mr-2"></i>Back</span>
    </div>
    <div class="form-wrapper px-6 flex-grow">
        <form class="appointment-form" [formGroup]="signUpForm" (submit)="submitForm()">
            <legend class="text-center text-2xl font-bold mb-3 text-dark-brown">Sign Up Form</legend>
            <div class="form-fields">
                <div class="errors text-xs"*ngIf="signUpForm.invalid">
                    <span  *ngIf="password != password2 && password.touched || password2.touched" class="error">Passwords do not match</span>
                </div>
                <div class="form-group">
                    <label>
                        <span>First Name</span>
                        <input type="text" name="fname" formControlName="fname" required>
                    </label>
                    <label>
                        <span>Last Name</span>
                        <input type="text" name="lname" formControlName="lname" required>
                    </label>
                </div>
                <label>
                    <span>Username</span>
                    <input type="text" name="username" formControlName="username" required>
                </label>
                
                <label>
                    <span>Email</span>
                    <input type="email" name="email" formControlName="email" required>
                </label>
                <label>
                    <span>Phone ( 876-555-5555 )</span>
                    <input type="tel" name="phone" formControlName="phone">
                </label>

                <label>
                    <span>Password</span>
                    <input type="password" name="password" formControlName="password" required>
                </label>
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="password2" formControlName="password2">
                </label> 
            </div>
            <div class=" text-sm mt-5">
                <p><span class="text-gray-400">Already have an account? </span> <a class="font-bold text-dark-brown" routerLink="/user/login">Sign in</a></p>
            </div>
            <div class="cta flex justify-end mt-5">
                <button type="submit" class="cta__btn cta__btn--gold" [disabled]="signUpForm.invalid">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="footer  text-gray-400 mt-auto" style="border-top: 1px solid lightgrey">
        <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
    </div>
</section>