@import "../../../styles.scss";

.lower-head{
    @apply shadow-md;
   ul{
        display:flex;
        align-items:center;
        padding: 1rem 0; 
   }   
    .nav__item{
        color: $light-brown;
        @apply mx-3;
    }
    .nav__item:first-of-type{
        color:$dark-brown;
        font-weight: bold;
        @apply text-4xl ml-0 mr-auto;

    }
    .cta-buttons{
        @apply ml-auto flex gap-2;

    }
}
.nav_links{
    flex-grow: 1;
    
    div{
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 1.5rem;

    }

}


.active{
    color:$mystic;
}

@media(max-width: 480px){

    .nav{
        padding: 1rem;
    
        .top-head{
            display:flex;
            align-items:center;
        }
    }
    .lower-head{
        padding: 0 1rem;
    }
}