<section class="mobile-view">
    <div class="doctor-profile h-screen flex flex-col">
        <div class="top-wrapper">
            <img src="/assets/Tishkoff-Sirugo-COVID-genetics.jpeg" alt="">
            <div class="cta px-6 pt-6 pb-0 text-lg font-semibold text-dark-brown" (click)="goBack()">
                <p><i class="fa fa-solid fa-arrow-left mr-2"></i><span>Back</span></p>
            </div>

        </div>
        <ng-container *ngIf="doctor">
        <div class="doctor__detail section px-6 pt-4">
            <div class="flex flex-col gap-0 mb-2">
                <p class="text-2xl font-bold text-dark-brown">{{doctor.title + ". "+ doctor.fname+ " "+ doctor.lname}}</p>
                <p class="text-xs text-dull-grey">{{doctor.department}}</p>
                <p class="text-xs text-dull-grey"> <span class="capitalize font-semibold text-green-600">{{doctor.status}}</span></p>
                <p class="flex items-center gap-1 font-semibold">{{doctor.rating.toFixed(1)}} 
                    <span>
                        <i class="fa fa-solid fa-star text-gold"></i>
                        <i class="fa fa-solid fa-star text-gold"></i>
                        <i class="fa fa-solid fa-star text-gold"></i>
                        <i class="fa fa-solid fa-star text-gold"></i>
                        <i class="fa fa-solid fa-star text-gold"></i>
                    </span>
                </p>
            </div>
            <div class="flex justify-between mb-4">
                <div class="patient flex flex-col gap-0 items-center">
                    <p class="text-gray-400">Patient</p>
                    <p class="font-bold">{{doctor.patientCount + 15}}</p>
                </div>
                <div class="patient flex flex-col gap-0 items-center mr-8">
                    <p class="text-gray-400">Experience</p>
                    <p class="font-bold">{{doctor.experience}} yrs</p>
                </div>
            </div>
            <div class="contact">
                <h2 class="text-lg text-dark-brown font-semibold mb-2">Contact</h2>
                <div class="text-sm text-dark-brown">
                    <p><span class="font-semibold text-gray-400">Email:</span> {{doctor.email}}</p>
                    <p><span class="font-semibold text-gray-400">Phone:</span> {{doctor.phone}}</p>
                </div>
            </div>

            <div class="cta mt-4 flex justify-end  my-2">
                <button class="cta__btn cta__btn--gold">Set Appointment</button>
            </div>
        </div>
        </ng-container>
        <div class="footer text-gray-400 mt-auto" style="border-top: 1px solid lightgrey">
            <p class="p-4 text-xs text-center">Created by VaineStudios &copy; All Rights Reserved</p>
        </div>

    </div>
</section>
